<%- include('./fragments/header.ejs') %>
   
    <main>
        <h2><%= __('main-page.content') %></h2>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit ipsa esse eaque omnis ab? Repellat adipisci
            incidunt beatae doloribus labore, minus facilis atque consequuntur consectetur! Repudiandae laudantium sunt
            repellendus ducimus?
            Aspernatur repellat obcaecati a ea dolorem incidunt corrupti modi natus. Fuga harum dolore consequuntur
            ducimus facere facilis maxime reiciendis, deserunt atque, eaque sunt modi enim, tempora ab perspiciatis
            dolorum voluptas.
            Omnis ipsam blanditiis itaque ratione, eum dolorem voluptatibus ipsa ullam, iure debitis expedita excepturi
            non modi! Explicabo suscipit officiis rerum, similique ratione, perspiciatis eveniet molestiae, itaque
            deleniti deserunt quo! Reprehenderit!</p>
    </main>

    <%- include('./fragments/footer.ejs') %>